<!DOCTYPE html>
<html>
  <head>
    <title>Express Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
      body { padding-top: 50px; }
      img { width: 140px; height: 140px; }
      .fa-sign-out { float: right; }
    </style>
  </head>
  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="text-center">
        <h1 class=" fa fa-user"> Profile</h1><br>
        <span><strong>user id</strong>: <%= user._id ? user._id : '' %></span><br>
        <span class="fa fa-sign-out"><a href="/"> Sign out</a></span>
        <hr>
        <div class="jumbotron">
            <% if (user.twitter.id != null) { %>
            <h2 class="fa fa-twitter"> Twitter</h2><br>
            <img src="https://avatars.io/twitter/<%= user.twitter.username %>" class="img-circle"><br>
            <strong>id</strong>: <%= user.twitter.id %><br>
            <strong>token</strong>: <%= user.twitter.token %><br>
            <strong>username</strong>: <%= user.twitter.username %><br>
            <strong>displayName</strong>: <%= user.twitter.displayName %>
          <% } %>
           </div>
      </div>
    </div>
  </body>
</html>